# ===============================
# Entornos virtuales
# ===============================
venv/
.venv/
env/
ENV/

# ===============================
# Archivos de Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Archivos de compilación
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Logs y temporales
# ===============================
*.log
*.tmp
*.bak

# ===============================
# Jupyter / IPython
# ===============================
.ipynb_checkpoints/

# ===============================
# IDEs / Editores
# ===============================
.vscode/
.idea/
.spyderproject
.spyproject

# ===============================
# Sistema operativo
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Variables de entorno
# ===============================
.env
.env.*
